@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight:normal;
    src: url("../fonts/JetBrainsMono-Regular.woff") format("woff"), url("../fonts/woff2/JetBrainsMono-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight:bold;
    src: url("../fonts/JetBrainsMono-Bold.woff") format("woff"), url("../fonts/woff2/JetBrainsMono-Regular.woff2") format("woff2"); 
}

body {
    font-family: 'JetBrains Mono';
    height: 97.5vh;
    display:flex;
    justify-content: center;
    background: #282828;
    color: #ebdbb2;
    overflow: hidden;
}

h4 {
    font-family: 'JetBrains Mono';
    font-weight: bold;
}

.main {
    align-self: center;
    display:flex;
}

.list_set {
    font-size: 15px;
    color:#172b4d;
    position: relative;
    height: auto;
    display:inline-block;
    vertical-align: top;
    padding-top:6%;
}

.list_container {
    background-color: #ebdbb2;
    border-radius: 3px;
    width: 200px;
    margin: 0 4px;
    height: auto;
    box-sizing: border-box;
    display: none;
    vertical-align: top;
    white-space: nowrap;
}

.list_header {
    flex: 0 0 auto;
    padding: 11px 12px 0px;
    position: relative;
    min-height: 20px;
    font-weight: bold;
}

.list_content {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px 4px;
    padding: 0 3px;
    z-index: 1;
    min-height: 0;
}

.card {
    background-color: #fdf9ed;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    display: block;
    margin: 7px 0px 7px 0px;
    padding: 4px;
    max-width: 200px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    white-space: normal;
    word-wrap: break-word;
}

.card_delete {
    font-size: 12px;
    background-color: #ebdbb2;
    background-clip: padding-box;
    background-origin: initial;
    border-radius: 3px;
    opacity: 0;
    padding: 4px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 40;
    cursor: pointer;
    margin: 2px;
    padding: 4px;
    border: none;
}

.card_delete:hover {
    opacity: 1;
    visibility: visible;
    text-decoration: none;
}

#insert {
    display: inline-block;
    vertical-align: top;
}

.prev, .next {
    cursor: pointer;
    margin-top: 50%;
    color:#ebdbb2;
    position: relative;
    width: auto;
    padding: 6px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
    z-index: 100;
}

.prev {
    margin-right:-4%;
}

.next {
    margin-left:-4%;
}

.prev:hover, .next:hover, .prev_small:hover, .next_small:hover {
    background-color: rgba(0,0,0,0.8);
}

.prev_small, .next_small {
    cursor: pointer;
    bottom: 0px;
    position: relative;
    width: auto;
    padding: 0px 6px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
    z-index: 100;
    display:inline-block;
    color:#ebdbb2;
    margin-bottom: 8px;
}
.prev_small {
    margin-left: 12px;
}

.next_small {
    float:right;
    margin-right: 16px;
}

.hide_button {
    display:block;
    width:208px;
}



@media only screen and (min-width: 1153px) {
    .prev, .next {
      display: inline-block;
    }
    .hide_button {
      display: none;
    }
  }

@media only screen and (max-width: 1154px) {
    .prev, .next {
        display: none;
    }
    .hide_button {
        display: inline-block;
    }
  }


.card_add {
    background-color: #f5eedb;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    display: block;
    margin: 7px 0px 7px 0px;
    padding: 4px 13px 4px 4px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    white-space: normal;
    word-wrap: break-word;
}


.container {
    width: auto;
    text-align: center;
    display:inline-block;
}
.container #date h2 {
    padding-top: 15px;
    display: inline-block;
    vertical-align: top; 
}
.container #date-text {
    color: #ebdbb2; 
}
.container #message-text {
    font-size: 23px; 
}
.container #search-bar {
    width: 65%;
    max-width: 860px;
    min-width: 420px;
    margin: 0 auto 50px auto;
    height: 45px;
    padding-top: 35px;
    position: relative;
    display: inline-block; 
}
.container #search-bar #search-bar-input {
    height: 50px;
    width: 100%;
    background: #ebdbb2;
    box-shadow: none;
    border: none;
    text-align: center;
    border-radius: 6px;
    outline: none;
    padding: 7px 14px;
    font-size: 18px;
    color: #282828;
    box-sizing: border-box; 
}
.container #search-bar #search-bar-input:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
}
@media only screen and (max-width: 791px) {
    .container #search-bar {
        width: 65%; 
    } 
}
.container #other-content {
    margin: 40px auto;
    padding: 10px 0; 
}
.container #other-content .sqr {
    vertical-align: top;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 170px;
    background: #ebdbb2;
    padding: 15px 15px;
    border-radius: 6px;
    min-height: 150px;
    margin-top: 10px; 
}
.container #other-content .sqr h4 {
    font-size: 18px;
    margin: 15px; 
}
.container #other-content .sqr h4 a {
    color: inherit;
    font-size: inherit; 
}
.container #other-content .sqr:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
}
.container #other-content .sqr a {
    color: #282828;
    font-size: 16px;
    transition: .1s ease-in;
    display: block;
    text-decoration: none;
    line-height: 22px; 
}
.container #other-content .sqr a:hover {
    color: #fff;
    text-decoration: none;
    transition: .1s ease-in; 
}
.container #other-content .media h4, .container #other-content .media a:hover {
    color: #3265d4; 
}
.container #other-content .uni h4, .container #other-content .uni a:hover {
    color: #be4eff; 
}
.container #other-content .social h4, .container #other-content .social a:hover {
    color: #fd4747; 
}
.container #other-content .other h4, .container #other-content .other a:hover {
    color: #24b32b; 
}

@media only screen and (max-width: 1164px) {
    .list_set {
        margin-left:-1vw;
    }
}