{% extends 'base.html' %}

{% block content %}
    {% for title, sublist in trello_dict %}
        <div class = "list_container">
            <div class = "list_header">{{ title }}</div>
            <div class = "list_content">
                {% for card in sublist %}
                    <div class = "card"> {{ card }}
                        <button class = "card_delete fas fa-times" type = "submit" onclick="card_remove()"></button>
                    </div>
                {% endfor %}
                <form autocomplete="off" name = "add" method = "post" action = "http://127.0.0.1:5000/">
                    <input type= "hidden" name = "list_name" value = "{{ title }}">
                    <input class = "card_add" type="text" placeholder = "new" name = "add"></input>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}

